/* COLORS AND FONTS */

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

:root {
  --purple-1: #D1A9F0;
  --purple-2: #C283F3;
  --purple-3: #9D5CD0;
  --purple-4: #7943A4;
}

/* START RESET */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: "OpenSans", sans-serif;
}


/* MAIN */

html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

section {
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 80px; */
  /* margin-bottom: 74px; */
}

h1 {
  position: fixed;
  transform: scale(0);
}

section:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.page-scroll--disable {
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.text-reset {
  margin: 0;
}

.section-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* HEADER */

.hh-container {
  position: relative;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 119px;
}

[data-headerimg="header-slide1"] {
  background-image: url("../img/hero/birmingham-museums-trust.jpg");
  background-size: cover;
}

[data-headerimg="header-slide2"] {
  background-image: url("../img/hero/birmingham-museums-trust-2.jpg");
  background-size: cover;
}

[data-headerimg="header-slide3"] {
  background-image: url("../img/hero/birmingham-museums-trust-3.jpg");
  background-size: cover;
}

.header__top {
  position: relative;
  align-items: center;
  background-color: #000;
  padding: 0 15px;
}

.header__top-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 0;
}

.header-burger {
  display: none;
  z-index: 3;
}

.header__burger-menu {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: calc(100vh);
  padding-top: 97px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out, visibility .5s ease-in-out;
  z-index: 2;
}

.header__burger-menu--active {
  visibility: visible;
  transform: translateX(0%);
}

.header__burger-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}

.header__burger-list {
  flex-direction: column;
}

.header__burger-item {
  /* font-family: "OpenSans"; */
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  color: #fff;
}

.header__burger-link {
  position: relative;
  transition: color .3s ease-in-out;
  z-index: 100;
}

.header__burger-link::after {
  box-sizing: content-box;
  position: absolute;
  content: "";
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px 6px;
  top: -8px;
  left: -6px;
  z-index: -1;
  transition: background-color .3s ease-in-out, visibility .3s ease-in-out;
}

.header__burger-link:focus::after {
  background-color: var(--purple-4);
  visibility: visible;
}

.header__burger-link:hover {
  color: var(--purple-2);
}

.header__burger-link:active::after {
  background-color: transparent;
}

.header__burger-link:active {
  color: var(--purple-4);
}

.header__burger-btn {
  position: relative;
  padding: 19px 88px;
  border: 2px solid var(--purple-3);
  border-radius: 100px;
  transition: outline-offset .1s ease-in-out;
}

.header__burger-btn::after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid var(--purple-2);
  border-radius: 100px;
  left: -5px;
  top: -5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__burger-btn:focus::after {
  opacity: 1;
}

.header__searcher-btn {
  display: none;
}

.header-logo {
  align-items: center;
  margin-right: 179px;
}

.header-nav {
  justify-content: space-between;
  /* width: 100%; */
  width: 1250px;
}

.header-nav__list {
  align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 62px;
}

.header-nav__link {
  position: relative;
  /* font-family: "OpenSans"; */
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  z-index: 1;
}

.header-nav__link::after {
  box-sizing: content-box;
  content: "";
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px 6px;
  top: -8px;
  left: -6px;
  z-index: -1;
  transition: background-color .3s ease-in-out, visibility .3s ease-in-out;
}

.header-nav__link:focus::after {
  background-color: var(--purple-4);
  visibility: visible;
}

.header-nav__link:focus {
  color: #fff;
}

.header-nav__link:focus:hover {
  color: #fff;
}

.header-nav__link:hover {
  color: var(--purple-2);
}

.header-nav__link:active {
  background-color: initial;
  color: var(--purple-4);
}

.header-enter {
  justify-content: flex-end;
}

.header__burger-btn {
  position: relative;
  z-index: 1;
  transition: background-color .3s ease-in-out;
}

.header__burger-btn:focus {
  outline: none;
}

.header__enter-btn:hover {
  outline: 3px solid #000;
}

.header__enter-link {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease-in-out;
  z-index: 1;
}

.header__burger-enter-link {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease-in-out;
  z-index: 1;
}

.header__burger-enter-link::before {
  content: url("../img/header/enter.svg");
  position: absolute;
  fill: #fff;
  z-index: 2;
  left: -18px;
}

.header__enter-link::before {
  content: url("../img/header/enter.svg");
  position: absolute;
  fill: #fff;
  top: 0;
  left: -18px;
  z-index: 2;
}

.header__enter-link:hover::before {
  content: url("../img/header/enter-2.svg");
}

.header__enter-link:active::before {
  content: url("../img/header/enter-3.svg");
}

.header__burger-btn:hover .header__burger-enter-link::before {
  content: url("../img/header/enter-2.svg");
}

.header__burger-btn:active .header__burger-enter-link::before {
  content: url("../img/header/enter-3.svg");
}

.header__enter-link:hover {
  color: var(--purple-2);
}

.header__enter-link:active {
  color: var(--purple-3);
}

.header__burger-btn:hover .header__burger-enter-link {
  color: var(--purple-2);
}

.header__burger-btn:active .header__burger-enter-link {
  color: var(--purple-3);
}

.header__enter-link::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 5px;
  top: 0;
  left: -22px;
  background-color: var(--purple-4);
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__enter-btn:focus {
  outline: none;
}

.header__enter-btn:focus .header__enter-link::after {
  opacity: 1;
}

.header__enter-btn:hover .header__enter-link::after {
  opacity: 0;
}

.header__searcher-wrap {
  display: none;
}

/* HEADER MENU */

.header__bottom {
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.5);
}

.header__bottom-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 21px 0;
}

.header-menu__list {
  margin-right: 20px;
  width: 100%;
}

.header-menu__item {
  position: relative;
  z-index: 1;
}

.header-menu__btn {
  transition: color .3s ease-in-out;
}

.header-menu__btn::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -8px;
  padding-right: 22px;
  padding-left: 8px;
  background-color: var(--purple-4);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.header-menu__btn:focus {
  outline: none;
}

.header-menu__btn:focus::after {
  opacity: 1;
}

.header-menu__btn:hover {
  color: var(--purple-3);
}

.header-menu__btn:focus:hover::after {
  opacity: 0;
}

.header-menu__btn:active {
  color: var(--purple-4);
}

.header-menu__btn:focus:active::after {
  opacity: 0;
}

.header-menu__wrapper {
  box-sizing: border-box;
  display: none;
  position: absolute;
  max-height: 300px;
  width: 300px;
  padding: 40px;
  top: 49px;
  background: rgba(0, 0, 0, 0.50);
}

.header-menu__wrapper--active {
  display: block;
}

.header-menu__btn {
  padding-right: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
}

.header-menu__arrow svg {
  position: absolute;
  width: 12px;
  height: 7px;
  stroke: #fff;
  top: calc(50% - 4px);
  background-repeat: no-repeat;
  background-position: right;
  transition: transform .3s ease-in-out, stroke .3s ease-in-out;
}

.header-menu__arrow--active svg {
  transform: rotate(180deg);
}

.header-menu__item:hover .header-menu__arrow svg {
  stroke: var(--purple-3);
}

.header-menu__item:active .header-menu__arrow svg {
  stroke: var(--purple-3);
}

.header-menu__dropdown {
  max-height: 220px;
}

.header-menu__dropdown:focus {
  outline: none;
}

.simplebar-content-wrapper:focus {
  outline: none;
}

.header-menu__dropdown-item {
  box-sizing: border-box;
  position: relative;
  width: 220px;
  padding: 10px;
  transition: outline .05s ease-in-out;
}

.header-menu__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header-menu__btn-link {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  text-align: left;
}

.header-menu__btn-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--purple-3);
  outline-offset: -2px;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header-menu__btn-link:focus::before,
.header-menu__btn-link:hover::before {
  opacity: 1;
}

.header-menu__btn-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.40) 0%, rgba(194, 131, 243, 0.40) 100%);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header-menu__btn-link:active {
  outline: none;
}

.header-menu__btn-link:active::after {
  opacity: 1;
}


[data-artist="tintoretto"],
[data-artist="template1"] {
  background-image: url("../img/header/select-tintoretto.jpg");
}

[data-artist="friedrich"] {
  background-image: url("../img/header/select-friedrich.jpg");
}

[data-artist="leonardo"] {
  background-image: url("../img/header/select-leonardo.jpg");
}

[data-artist="verrocchio"] {
  background-image: url("../img/header/select-verrocchio.jpg");
}

[data-artist="monet"],
[data-artist="template2"] {
  background-image: url("../img/header/select-mone.jpg");
}

[data-artist="sisley"] {
  background-image: url("../img/header/select-sisley.jpg");
}

[data-artist="mane"] {
  background-image: url("../img/header/select-mane.jpg");
}

[data-artist="renoir"] {
  background-image: url("../img/header/select-renoir.jpg");
}

[data-artist="gogh"],
[data-artist="template3"] {
  background-image: url("../img/header/select-van.jpg");
}

[data-artist="cezanne"] {
  background-image: url("../img/header/select-sisley.jpg");
}

[data-artist="gauguin"] {
  background-image: url("../img/header/select-mane.jpg");
}

[data-artist="sulfur"] {
  background-image: url("../img/header/select-renoir.jpg");
}

[data-artist="kandinsky"],
[data-artist="template4"] {
  background-image: url("../img/header/select-kandinsky.jpg");
}

[data-artist="marinetti"] {
  background-image: url("../img/header/select-marinetti.jpg");
}

[data-artist="malevich"] {
  background-image: url("../img/header/select-malevich.jpg");
}

[data-artist="picasso"] {
  background-image: url("../img/header/select-picasso.jpg");
}

[data-artist="carra"],
[data-artist="template5"] {
  background-image: url("../img/header/select-carra.jpg");
}

[data-artist="pratella"] {
  background-image: url("../img/header/select-pratella.jpg");
}

[data-artist="severini"] {
  background-image: url("../img/header/select-severini.jpg");
}

[data-artist="balla"] {
  background-image: url("../img/header/select-balla.jpg");
}

.header-menu__item:not(:last-child) {
  margin-right: 110px;
}

.select-focus {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 8px 6px;
  top: -8px;
  left: -6px;
  z-index: -1;
  transition: background-color .3s ease-in-out, visibility .3s ease-in-out;
}

.header-menu__select {
  width: fit-content;
  text-align-last: left;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: transparent;
  border: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header-menu__select:focus+span {
  visibility: visible;
  background-color: var(--purple-4);
}

.header-menu__select:focus {
  outline: none;
}

.header-menu__select:hover {
  color: var(--purple-3);
}

.header-menu__select:active+span {
  visibility: hidden;
}

.header-menu__select:active {
  color: var(--purple-4);
}

.header-form {
  align-items: center;
}

.header-form__btn {
  position: relative;
  margin-right: 14px;
  width: 20px;
}

.header-form__btn::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--purple-3);
  outline-offset: 2px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.header-form__btn:focus {
  outline: none;
}

.header-form__btn:focus::after {
  opacity: 1;
}

.header-form__input {
  background-color: transparent;
  border: none;
  /* font-family: "OpenSans"; */
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: border-bottom .3s ease-in-out;
}

.header-form__input::placeholder {
  /* font-family: "OpenSans"; */
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.header-form__input:focus {
  outline: none;
  border-bottom: 1px solid var(--purple-2);
}

.header-form__input:hover {
  border-bottom: 1px solid var(--purple-2);
}

.header-form__input:active {
  border-bottom: 1px solid var(--purple-4);
}

/* HERO */

.hero {
  /* padding-bottom: 122px; */
  padding-left: 15px;
  padding-right: 15px;
}

.hero-container {
  max-width: 1600px;
  margin: 0 auto;
}

.hero__titile {
  max-width: 597px;
  margin-top: 63px;
  /* font-family: "OpenSans"; */
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #fff;
}

.hero__text {
  max-width: 556px;
  margin-bottom: 89px;
  /* font-family: "OpenSans"; */
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.hero__btn {
  position: relative;
  padding: 23px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: var(--purple-3);
  border-radius: 100px;
  transition: background-color .3s ease-in-out;
}

.hero__btn::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: -5px;
  top: -5px;
  border: 2px solid var(--purple-2);
  border-radius: 100px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.hero__btn::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 3px solid var(--purple-1);
  ;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:focus::after {
  opacity: 1;
}

.hero__btn:hover::after {
  opacity: 0;
}

.hero__btn:hover::before {
  opacity: 1;
}

.hero__btn:active::after {
  opacity: 0;
}

.hero__btn:active::before {
  opacity: 1;
}

.hero__btn:active {
  background-color: var(--purple-4);
}

/* ABOUT US */

.about-us {
  margin-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-us-container {
  max-width: 1600px;
  margin: 0 auto;
}

.about-us__title {
  color: #333;
}

.about-us__text {
  max-width: 1080px;
}

/* GALLERY */

.gallery {
  position: relative;
  height: 595px;
  margin-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("../img/gallery/gallery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.gallery__left-panel {
  padding-top: 80px;
  max-width: 400px;
  margin-right: 50px;
}

.gallery__titile {
  color: #fff;
}

.gallery__filter {
  flex-direction: column;
  height: calc(100% - 87px);
  justify-content: space-between;
}

.gallery__text {
  display: block;
  /* font-family: "OpenSans"; */
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.gallery__select {
  width: 400px;
  margin-top: 12px;
  margin-bottom: 186px;
  padding: 5px 15px;
  /* font-family: "OpenSans"; */
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: width .3s ease-in-out, background-color .3s ease-in-out;
}

.gallery__select:hover,
.gallery__select:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__option {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__checkboxes {
  flex-direction: column;
}

.gallery__label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  /* font-family: "OpenSans"; */
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.gallery__label:not(:last-child) {
  /* margin-bottom: 20px; */
  margin-bottom: 14px;
}

.gallery__checkbox {
  opacity: 0;
  cursor: pointer;
}

.gallery__custom-checkbox {
  box-sizing: border-box;
  position: absolute;
  height: 12px;
  width: 12px;
  left: 0;
  top: 3px;
  border: 1px solid #fff;
  text-align: center;
  transition: border .3s ease-in-out;
}

.gallery__custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.gallery__checkbox:checked~.gallery__custom-checkbox {
  border: 1px solid var(--purple-2);
}

.gallery__checkbox:checked~.gallery__custom-checkbox:after {
  content: url("../img/gallery/radio-dot.svg");
  display: block;
  top: -8px;
  left: 3px;
  width: 4px;
  height: 4px;
}

.gallery__right-panel {
  max-width: calc(100% - 450px);
  padding-top: 105px;
}

.gallery__arrows {
  margin-bottom: 28px;
}

.gallery__btn {
  display: block;
}

.gallery__btn svg {
  display: block;
  box-sizing: border-box;
  fill: #666;
  transition: fill .3s ease-in-out;
}

.gallery__btn::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__btn:first-child {
  transform: rotate(180deg);
}

.gallery__btn:focus {
  outline: none;
}

.gallery__btn:focus::before {
  opacity: 1;
}

.gallery__btn:hover svg {
  fill: var(--purple-3);
}

.gallery__btn:active svg {
  fill: var(--purple-4);
}

.gallery__btn:active::before {
  opacity: 1;
}

.gallery__btn-text {
  margin-left: 19px;
  margin-right: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.gallery__btn-span {
  display: none;
}

.gallery__btn-span--active {
  display: block;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.gallery__img-block {
  position: relative;
  width: calc((100% - 100px) / 3);
  height: 350px;
  margin-right: 50px;
  transition: outline .1s ease-in-out;
  cursor: pointer;
}

.gallery__img-block:last-child {
  margin-right: 0;
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__hover {
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background: rgba(0, 0, 0, 0.5);
  left: 25px;
  top: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__hover:focus {
  outline: none;
  opacity: 1;
}

.gallery__searcher:focus {
  outline: none;
  opacity: 1;
}

.gallery__searcher {
  position: absolute;
  width: 81px;
  height: 79px;
  left: calc(50% - 40px);
  top: calc(50% - 48px);
  background-image: url("../img/gallery/searcher.svg");
}

.gallery__searcher:focus {
  outline: none;
}

.gallery__img-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: 3px solid var(--purple-4);
  outline-offset: -2px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__img-block:focus {
  outline: none;
}

.gallery__img-block:focus::before {
  opacity: 1;
}

.gallery__img-block:hover .gallery__hover {
  opacity: 1;
}

.gallery__active-effect {
  position: absolute;
  display: block;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out, linear-gradient .3s ease-in-out;
}

.gallery__img-block:active {
  outline: none;
}

.gallery__img-block:active::before {
  opacity: 0;
}

.gallery__img-block:active .gallery__active-effect {
  opacity: 1;
}

.gallery__img-info {
  box-sizing: content-box;
  transform: translateX(-150vh);
  position: absolute;
  width: 900px;
  height: 500px;
  top: 47px;
  left: calc(50% - 250px);
  background: #FFFFFF;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.gallery__img-info--active {
  transform: initial;
  opacity: 1;
}

.gallery__img-exit svg {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 20px;
  top: 20px;
  fill: #000;
  /* background-image: url("../img/gallery/cross.svg"); */
  transition: fill .3s ease-in-out;
}

.gallery__img-exit:focus {
  outline: none;
}

.gallery__img-exit:hover svg,
.gallery__img-exit:focus svg {
  outline: none;
  fill: var(--purple-3);
}

.gallery__img-exit:active svg {
  fill: var(--purple-4);
}

.gallery__text-block {
  overflow-y: auto;
  max-height: calc(100% - 50px);
}

.gallery__info-block {
  padding: 121px 50px;
  width: 401px;
}

.gallery__img-titles {
  margin-bottom: 32px;
}

.gallery__info-title::after {
  content: attr(data-text);
  max-width: 401px;
  /* font-family: "OpenSans"; */
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.gallery__little-title::after {
  display: block;
  content: attr(data-text);
  max-width: 401px;
  /* font-family: "OpenSans"; */
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.gallery__text-info::after {
  content: attr(data-text);
  max-width: 401px;
  /* font-family: "OpenSans"; */
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.gallery__info-date::after {
  content: attr(data-text);
  max-width: 401px;
  /* font-family: "OpenSans"; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.gallery__img-picture {
  width: 400px;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.gallery__img-picture--1 {
  background-image: url("../img/gallery/gallery-img-1.jpg");
}

.gallery__img-picture--2 {
  background-image: url("../img/gallery/gallery-img-2.jpg");
}

.gallery__img-picture--3 {
  background-image: url("../img/gallery/gallery-img-3.jpg");
}

.gallery__img-picture--4 {
  background-image: url("../img/gallery/gallery-img-4.jpg");
}

.gallery__img-picture--5 {
  background-image: url("../img/gallery/gallery-img-5.jpg");
}

.gallery__img-picture--6 {
  background-image: url("../img/gallery/gallery-img-6.jpg");
}

/* CATALOG */

.catalog {
  margin-bottom: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-container {
  max-width: 1600px;
  margin: 0 auto;
}

.catalog__title {
  color: #333;
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 39px;
}

.catalog__left-panel {
  display: none;
  width: calc(50% - 50px);
  margin-right: 50px;
}

.catalog__left-panel--active {
  display: block;
}

.catalog__bottom-panel {
  display: none;
}

.catalog__picture {
  display: block;
  margin-bottom: 26px;
}

.catalog__picture img {
  width: 100%;
}

.catalog__author-name {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog__author-date {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #999;
}

.catalog__author-text {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.catalog__right-panel {
  width: 50%;
}

.catalog__ages {
  position: relative;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.catalog__ages-btn {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.catalog__ages-btn:focus {
  outline: none;
}

.catalog__ages-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.catalog__ages-arrow {
  position: absolute;
  right: 0;
  top: 0;
}

.catalog__arrow-svg {
  display: block;
  fill: #ECECEC;
  transition: fill .3s ease-in-out, transform .3s ease-in-out;
}

.catalog__ages-arrow::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--purple-3);
  border-radius: 100%;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.catalog__ages-btn:focus .catalog__ages-arrow svg,
.catalog__ages-btn:hover .catalog__ages-arrow svg {
  fill: var(--purple-1);
}

.ac-trigger:active .catalog__ages-arrow::after {
  opacity: 1;
}

.ac-trigger:active .catalog__ages-arrow svg {
  transform: rotate(180deg);
}

.ac-panel__item {
  position: relative;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  z-index: 1;
}

.ac-panel__link {
  position: relative;
}

.ac-panel__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--purple-3);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.ac-panel__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: var(--purple-3);
  transition: opacity .3s ease-in-out;
}

.ac-panel__link:focus::after {
  opacity: 1;
}

.ac-panel__link:focus {
  outline: none;
}

.ac-panel__link:hover::before {
  opacity: 1;
}

.ac-panel__link:active::after {
  opacity: 0;
}

.ac-panel__link:active {
  border: none;
}

.ac-panel__link--active {
  border-bottom: 1px solid var(--purple-3);
}

.catalog__ages:hover {
  border-color: var(--purple-3);
}

.catalog__ages:hover .catalog__ages-text {
  color: var(--purple-3);
  background-color: transparent;
}

.catalog__ages:active {
  border-color: var(--purple-4);
}

.catalog__ages:active .catalog__ages-text {
  color: var(--purple-4);
  background-color: transparent;
}

.catalog__fine-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--purple-3);
  transition: color .3s ease-in-out;
}

.catalog__fine-link:hover,
.catalog__fine-link:focus {
  color: var(--purple-2);
}

.catalog__fine-link:active {
  color: var(--purple-4);
}

.catalog__empty-info {
  width: 275px;
}

.catalog__empty-gray {
  width: 275px;
}

.catalog__empty-gray img:nth-child(2) {
  display: none;
}

.catalog__empty-info {
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
  margin-left: 24px;
}

.catalog__empty-block {
  display: block;
  width: 251px;
  height: 251px;
  color: #999;
}

.catalog__empty-head {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 5px;
  color: #333;
}

.catalog__empty-text {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}

/* EVENTS */

.events {
  position: relative;
  margin-bottom: 68px;
  padding-left: 15px;
  padding-right: 15px;
}

.events-container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.events__articles {
  position: relative;
}

.events__list-item {
  flex-direction: column;
  width: calc((100% - 100px) / 3);
  margin-right: 50px;
}

.events__list-item:last-of-type {
  margin-right: 0;
}

.events__img {
  display: block;
  max-width: 100%;
}

.events__date {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.events__title {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.events__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.events__article {
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 338px;
  padding: 13px 50px 48px 50px;
  border: 1px solid #cacaca;
  border-top: none;
}

.events__article--empty {
  justify-content: center;
  align-items: center;
}

.events__link {
  position: relative;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--purple-3);
  border-bottom: 1px solid var(--purple-3);
  transition: background-color .3s ease-in-out, border-bottom .3s ease-in-out, color .3s ease-in-out;
}

.events__link::after {
  content: "";
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 8px;
  left: -8px;
  transition: background-color .3s ease-in-out;
}

.events__link:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.events__link:focus::after {
  visibility: visible;
  background-color: var(--purple-3);
  z-index: -1;
}

.events__link:hover {
  color: var(--purple-4);
  border-bottom: 1px solid var(--purple-4);
}

.events__link:active {
  color: #333;
  border-bottom: 1px solid #333;
  background-color: transparent;
}

.events__link:active::after {
  visibility: hidden;
}

.events__btn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -25px;
  top: calc(50% + 9px);
  z-index: 3;
}

.events__btn::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--purple-3);
  border-radius: 100%;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.events__btn svg {
  fill: #ECECEC;
  transition: fill .3s ease-in-out;
}

.events__btn:focus {
  outline: none;
}

.events__btn:focus::after {
  opacity: 1;
}

.events__btn:hover svg {
  fill: var(--purple-1);
}

.events__btn:active {
  fill: var(--purple-1);
}

.events__btn:active::after {
  opacity: 1;
}

.events__dot-list {
  display: none;
}

/* PROJECTS */

.projects {
  margin-bottom: 77px;
  padding-left: 15px;
  padding-right: 15px;
}

.projects-container {
  max-width: 1600px;
  margin: 0 auto;
}

.projects__text {
  max-width: 1078px;
  margin-bottom: 21px;
}

.projects__tip {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.projects__tooltip {
  position: absolute;
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% - 8px);
  bottom: 0;
}

.projects__tooltip svg {
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.projects__tooltip svg path:nth-child(1) {
  stroke: var(--purple-3);
  fill: transparent;
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.projects__tooltip:focus {
  outline: none;
}

.projects__tooltip:focus svg path:nth-child(1),
.projects__tooltip:hover svg path:nth-child(1) {
  fill: var(--purple-1);
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.projects__tooltip:active svg path:nth-child(1) {
  fill: var(--purple-3);
  stroke: var(--purple-3);
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.projects__tooltip svg path:nth-child(2) {
  fill: #000;
  stroke: transparent;
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.projects__tooltip:active svg path:nth-child(2) {
  fill: #fff;
}

.projects__link {
  color: var(--purple-3);
  transition: background-color .2s ease-in-out, color .3s ease-in-out;
}

.projects__link:focus {
  color: #fff;
  background-color: var(--purple-3);
}

.projects__link:hover {
  border-bottom: 1px solid var(--purple-3);
}

.projects__link:active {
  color: var(--purple-4);
  border-bottom: 1px solid var(--purple-4);
  background-color: #fff;
}

.projects__title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.projects__partners {
  display: flex;
  position: relative;
  align-self: center;
}

.projects__list {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 0 75px;
}

.partner-img {
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  transition: background-image .3s ease-in-out;
}

.projects-swiper-1 {
  max-width: 1450px;
  padding-left: 15px;
  padding-right: 15px;
}

[data-partner="1--active"],
[data-partner="2--active"],
[data-partner="3--active"],
[data-partner="4--active"],
[data-partner="5--active"],
[data-partner="6--active"],
[data-partner="7--active"],
[data-partner="8--active"],
[data-partner="9--active"] {
  display: none;
}

.projects__list-item:hover [data-partner="1--active"],
.projects__list-item:hover [data-partner="1--active"],
.projects__list-item:hover [data-partner="2--active"],
.projects__list-item:hover [data-partner="3--active"],
.projects__list-item:hover [data-partner="4--active"],
.projects__list-item:hover [data-partner="5--active"],
.projects__list-item:hover [data-partner="6--active"],
.projects__list-item:hover [data-partner="7--active"],
.projects__list-item:hover [data-partner="8--active"],
.projects__list-item:hover [data-partner="9--active"] {
  display: block;
}

.projects__list-item:hover [data-partner="1"],
.projects__list-item:hover [data-partner="2"],
.projects__list-item:hover [data-partner="3"],
.projects__list-item:hover [data-partner="4"],
.projects__list-item:hover [data-partner="5"],
.projects__list-item:hover [data-partner="6"],
.projects__list-item:hover [data-partner="7"],
.projects__list-item:hover [data-partner="8"],
.projects__list-item:hover [data-partner="9"] {
  display: none;
}

.projects__partner-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: outline .3s ease-out;
}

.projects__partner-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--purple-3);
  outline-offset: -1px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.projects__partner-link:focus::after,
.projects__list-item:active .projects__partner-link::after {
  opacity: 1;
}

.projects__list-item:nth-child(3) {
  margin-right: 0;
}

.projects__arrow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.projects__arrow::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--purple-3);
  border-radius: 100px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.projects__arrow svg path:nth-child(1) {
  fill: #ececec;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.projects__arrow svg path:nth-child(2) {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.projects__arrow:focus {
  outline: none;
}

.projects__arrow:focus::after {
  opacity: 1;
}

.projects__arrow:hover svg path:nth-child(1) {
  fill: var(--purple-1);
}

.projects__arrow:active::after {
  opacity: 1;
}

.projects__arrow:active path:nth-child(1) {
  fill: var(--purple-1);
}

.swiper-button-disabled svg path:nth-child(2) {
  stroke: #CACACA;
}

.projects__arrow--1 {
  transform: rotate(180deg);
  top: calc(50% - 15px);
  left: 0;
}

.projects__arrow--2 {
  top: calc(50% - 15px);
  right: 0;
}

/* CONTACTS */

.contacts__top {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #CACACA;
}

.contacts__container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  /* padding: 38px 0; */
  padding-top: 34px;
  padding-bottom: 32px;
}

.contacts__address {
  font-style: initial;
}

.contacts__title {
  /* font-family: "OpenSans"; */
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.contacts__form {
  position: relative;
  align-items: center;
}

.contacts__form input[data-validate=name]+div {
  position: absolute;
}

.js-validate-error-label {
  position: absolute;
  font-size: 12px;
  line-height: 16px;
}

.contacts__form input[data-validate-field=name]+div {
  top: -16px;
  left: 26px;
}

.contacts__form input[data-validate-field=tel]+div {
  top: -16px;
  left: calc((100% - 274px) / 2);
}

.contacts__input {
  box-sizing: content-box;
  width: 201px;
  height: 30px;
  margin-right: 20px;
  padding: 9px 43px 9px 24px;
  border: 1px solid #333;
  border-radius: 100px;
  transition: background-color .3s ease-in-out;
}

.contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.contacts__input:focus {
  outline: none;
  background-color: #ECECEC;
}

.contacts__input:hover {
  background-color: #ECECEC;
}

.contatcs__input:active {
  background-color: #ECECEC;
}

.contacts__btn {
  position: relative;
  height: 50px;
  padding: 13px 35px;
  border: 2px solid var(--purple-3);
  border-radius: 100px;
  /* font-family: "OpenSans"; */
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--purple-3);
  transition: outline .1s linear, outline-offset .1s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

.contacts__btn::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: -5px;
  top: -5px;
  border: 2px solid var(--purple-2);
  border-radius: 100px;
  transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
  opacity: 0;
}

.contacts__btn:nth-of-type(2) {
  display: none;
}

.contacts__btn:focus {
  outline: none;
}

.contacts__btn:focus::after {
  opacity: 1;
}

.contacts__btn:hover {
  background-color: var(--purple-3);
  color: #fff;
}

.contacts__btn:active:focus::after {
  opacity: 0;
}

.contacts__btn:active {
  border-color: var(--purple-1);
}

.contacts__btn:active {
  color: #fff;
  background-color: var(--purple-3);
}

.contacts__social-title {
  margin-bottom: 11px;
}

.contacts__social-link {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transition: opacity .3s ease-in-out, outline-style 2s ease-in-out;
}

.contacts__social-link:not(:last-child) {
  max-width: 275px;
  margin-right: 15px;
}

.contacts__social-link:focus {
  opacity: 0.5;
}

.contacts__social-link:hover {
  opacity: 0.5;
}

.contacts__social-link::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid var(--purple-3);
  border-radius: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.contacts__social-link:active {
  opacity: 0.5;
}

.contacts__social-link:active::after {
  opacity: 1;
}

.contacts__map {
  height: 700px;
  width: 100%;
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: #000;
  padding: 0 15px;
}

.footer__container {
  justify-content: space-between;
  width: 1600px;
  margin: 0 auto;
  padding: 45px 0;
}

.footer__container:nth-child(2) {
  display: none;
}

.footer__social-link {
  outline: none;
}

.footer__social-link:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link svg {
  fill: #cacaca;
  transition: fill .3s ease-in-out;
}

.footer__social-link:hover svg,
.footer__social-link:focus svg {
  fill: #fff;
}

.footer__social-link:active svg {
  fill: var(--purple-3);
}
